<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css"> 
    <title>Weather app</title>
</head>
<body class="background">
    <div class="container">
        <form action="/submit" method="POST" class="form">
            <label for="city">Enter your city: </label>
            <input type="text" name="city" required>
            <input type="submit" value="Submit" id = "sub">
        </form>
    </div>
</body>
</html>