body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* .rainy {
    background: url('Weather App/public/images/rainy.gif') no-repeat center center fixed;
    background-size: cover;
}

.cloudy {
    background: url('Weather App/public/images/cloudy.gif') no-repeat center center fixed;
    background-size: cover;
}

.clear {
    background: url('Weather App/public/images/clear.gif') no-repeat center center fixed;
    background-size: cover;
} */

h1{
    text-align: center;
}

.background {
    background-image: url('background.avif');
    background-size: cover;
    background-position: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.res_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    font-size: xx-large;
}

.form {
    width: 400px;
    height: 50px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

#sub {
    margin-left: 15px;
}

